<footer class="footer">
    <!-- Start Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer f-about">
                        <div class="logo">
                            <a href="https://rainloops.com/Themeforest/Template/Gomeet/index.html">
                                <img src="./assets/styles/white-logo.svg" alt="#">
                            </a>
                        </div>
                        <p>Making the world a better place through constructing elegant hierarchies.</p>
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-youtube"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 footer-link">
                    <h6 class="text-uppercase font-weight-bold mb-4 color">Company</h6>
                    <ul class="list-unstyled mb-0 ">
                      <li class="mb-2 fhover "><a href="https://rainloops.com/Themeforest/Template/Gomeet/about.html" class="text-white">About Us</a></li>
                      <li class="mb-2 fhover "><a href="https://rainloops.com/Themeforest/Template/Gomeet/contact.html" class="text-white">Contact</a></li>
                      <li class="mb-2 fhover "><a href="https://rainloops.com/Themeforest/Template/Gomeet/services.html" class="text-white">Service</a></li>
                      <li class="mb-2 fhover "><a href="https://rainloops.com/Themeforest/Template/Gomeet/blog-grid-sidebar.html" class="text-white">Our Blog</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 footer-link">
                    <h6 class="text-uppercase font-weight-bold mb-4">Support</h6>
                    <ul class="list-unstyled mb-0">
                     <li class="mb-2 fhover "><a href="https://rainloops.com/Themeforest/Template/Gomeet/login.html" class="text-white">Login</a></li>
                     <li class="mb-2 fhover "><a href="https://rainloops.com/Themeforest/Template/Gomeet/registration.html" class="text-white">Register</a></li>
                     <li class="mb-2 fhover "><a href="https://rainloops.com/Themeforest/Template/Gomeet/pricing.html" class="text-white">Pricing</a></li>
                     <li class="mb-2 fhover "><a href="https://rainloops.com/Themeforest/Template/Gomeet/faq.html" class="text-white">Faq</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-lg-0">
                    <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
                    <p class="text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
                    <div class="p-1 rounded border">
                    <div class="input-group">
                        <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
                        <div class="input-group-append">
                        <button id="button-addon1" type="button" class="btn text-white"><i class="lni lni-telegram-original"></i></button>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
               
            </div>
        </div>
    
    <!--/ End Footer Top -->
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="copyright-text">Designed and Developed by <a href="https://themeforest.net/user/rainloops_technolabs" target="_blank">Rainloops Technolabs</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>