.item-row{
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-top: 0px !important;
    background-color: none;

}

.background-none{
    background-color: none;

}
.services.style3 .single-service {
    background: none !important;
}

