<!-- End Header Area -->
<!-- Start Hero Area -->
<section id="home" class="hero-area style1">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6 col-md-12 col-12">
                <div class="hero-image wow fadeInRight" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
                    <img src="./assets/styles/hero-image.png" alt="#">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="hero-content wow fadeInLeft" data-wow-delay=".3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <h1>Get things done by great remote team</h1>
                    <p>We share common trends and strategies for
                        improving your rental income and making sure you stay in high demand.</p>
                    <form action="https://rainloops.com/Themeforest/Template/Gomeet/index.html#" method="get" target=""
                        class="trial-form">
                        <input name="email" type="email" placeholder="Your email address">
                        <div class="button">
                            <button type="button" class="btn">Get Started</button>
                        </div>
                    </form>
                    <a href="https://rainloops.com/Themeforest/Template/Gomeet/assets/images/video/video.mp4"
                        class="glightbox video-button"><i class="lni lni-play"></i><span class="text">Watch our
                            intro video.</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Area -->

<!-- Start Client Logo Section Area -->
<div class="client-logo-section">
    <div class="container">
        <div class="client-logo-wrapper">
            <div class="tns-outer" id="tns1-ow">
                <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span
                        class="current">20 to 24</span> of 6</div>
                <div id="tns1-mw" class="tns-ovh">
                    <div class="tns-inner" id="tns1-iw">
                        <div class="client-logo-carousel d-flex align-items-center justify-content-between  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
                            id="tns1" style="transform: translate3d(-73.0769%, 0px, 0px);">
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-3.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-4.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-5.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-3.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-1.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-2.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-3.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-4.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-5.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-3.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item0" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-1.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item1" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-2.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item2" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-3.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item3" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-4.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item4" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-5.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item" id="tns1-item5" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-3.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-1.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-2.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-3.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned tns-slide-active">
                                <img src="./assets/styles/client-logo-4.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned tns-slide-active">
                                <img src="./assets/styles/client-logo-5.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned tns-slide-active">
                                <img src="./assets/styles/client-logo-3.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned tns-slide-active">
                                <img src="./assets/styles/client-logo-1.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned tns-slide-active">
                                <img src="./assets/styles/client-logo-2.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-3.svg" alt="#">
                            </div>
                            <div class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <img src="./assets/styles/client-logo-4.svg" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Client Logo Section Area -->


<div class="popup-service">
    <ng-template #mymodal let-modal>
        <!-- <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div> -->
        <div class="modal-body" style="height: 500px;background: none;border: 0px;">
            <app-service-dialog [typeService]="typeService"></app-service-dialog>
        </div>
        <!-- <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div> -->
    </ng-template>
</div>

<!-- Start Services Area -->
<section class="services style3 section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">Services</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">What we offer</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">There are many
                        variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="single-head">
            <div class="row" style="border: 1px solid #eee; border-radius: 50%;margin-left: 30%;margin-right: 30%;">
                <div class="col-lg-6 col-md-6 col-12 item-row">
                    <div class="single-service wow fadeInUp background-none" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; border-left: 0px;border-top: 0px;text-align: right;" (click)="open(mymodal,1)">
                        <span class="serial"><i class="fas fa-graduation-cap"></i></span>
                        <h3><a href="/">Learning</a></h3>
                        <!-- <p>We dejoy working with discerning clients, people for whom qualuty, service, integrity &amp;
                                aesthetics.</p> -->
                        <!--<div class="button">
                                <a href="https://rainloops.com/Themeforest/Template/Gomeet/service-details.html" class="btn">Read More</a>
                            </div>-->
                        <!-- <ul class="menu-circular" style="z-index:9; float: right" id="navs" data-open="-" data-close="+">
							  <li><a href="http://www.17sucai.com/"><i class="fab fa-facebook-square"></i></a></li>
							  <li><a href="http://www.17sucai.com/"><i class="fab fa-tiktok"></i></a></li>
							  <li><a href="http://www.17sucai.com/"><i class="fab fa-youtube-square"></i></a></li>
							  <li><a href="http://www.17sucai.com/"><i class="fab fa-instagram-square"></i></a></li>
							  <li><a href="http://www.17sucai.com/"><i class="fab fa-twitter-square"></i></a></li>
							</ul> -->
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-12 item-row">
                    <div class="single-service wow fadeInUp background-none" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp; border-right: 0px;border-top: 0px;" (click)="open(mymodal,2)">
                        <span class="serial"><i class="fas fa-photo-video"></i></span>
                        <h3><a href="/">Media</a></h3>
                        <!-- <p>We dejoy working with discerning clients, people for whom qualuty, service, integrity &amp;
                                aesthetics.</p> -->
                        <!-- <div class="button">
                                <a href="https://rainloops.com/Themeforest/Template/Gomeet/service-details.html" class="btn">Read More</a>
                            </div>-->
                        <!-- <ul class="menu-circular" style="z-index:9;" id="navs1" data-open="-" data-close="+">
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-tiktok"></i></a></li>
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-youtube-square"></i></a></li>
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-instagram-square"></i></a></li>
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-twitter-square"></i></a></li>
							</ul> -->
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12 item-row">
                    <div class="single-service wow fadeInUp background-none" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; border-left: 0px;border-bottom: 0px; text-align: right;" (click)="open(mymodal,3)">
                        <!-- <ul class="menu-circular" style="z-index:9;float:right" id="navs2" data-open="-" data-close="+">
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-tiktok"></i></a></li>
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-youtube-square"></i></a></li>
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-instagram-square"></i></a></li>
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-twitter-square"></i></a></li>
							</ul> -->
                        <span class="serial"><i class="fas fa-laptop-code"></i></span>

                        <h3><a href="https://rainloops.com/Themeforest/Template/Gomeet/service-details.html">Laptop</a>
                        </h3>
                        <!-- <p>We dejoy working with discerning clients, people for whom qualuty, service, integrity &amp;
                                aesthetics.</p>
                            <div class="button">
                                <a href="https://rainloops.com/Themeforest/Template/Gomeet/service-details.html" class="btn">Read More</a>
                            </div> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 item-row">
                    <div class="single-service wow fadeInUp background-none" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp; border-right: 0px;border-bottom: 0px;" (click)="open(mymodal,4)">
                        <!-- <ul class="menu-circular" style="z-index:9;" id="navs3" data-open="-" data-close="+">
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-tiktok"></i></a></li>
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-youtube-square"></i></a></li>
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-instagram-square"></i></a></li>
                                <li><a href="http://www.17sucai.com/"><i class="fab fa-twitter-square"></i></a></li>
							</ul> -->
                        <span class="serial"><i class="fas fa-users"></i></span>
                        <h3><a href="https://rainloops.com/Themeforest/Template/Gomeet/service-details.html">Social</a>
                        </h3>
                        <!-- <p>We dejoy working with discerning clients, people for whom qualuty, service, integrity &amp;
                                aesthetics.</p>
                            <div class="button">
                                <a href="https://rainloops.com/Themeforest/Template/Gomeet/service-details.html" class="btn">Read More</a>
                            </div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Start About Us Area -->
<section id="about" class="about section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="content wow fadeInRight" data-wow-delay=".5s"
                    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                    <div class="heading">
                        <h2>People choose us because of our service</h2>
                        <p>McKinsey research has shown that 70% of buying experiences are based on how the customer
                            feels they have been treated.</p>
                    </div>
                    <div class="list">
                        <!-- Start Single List -->
                        <div class="single-list">
                            <i class="lni lni-bolt"></i>
                            <h4>Infinite Features</h4>
                            <p>We work on diverse projects for top brands as well as for cool startups.</p>
                        </div>
                        <!-- End Single List -->
                        <!-- Start Single List -->
                        <div class="single-list">
                            <i class="lni lni-grid-alt"></i>
                            <h4>Stunning Design</h4>
                            <p>We work on diverse projects for top brands as well as for cool startups.</p>
                        </div>
                        <!-- End Single List -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="image wow fadeInLeft" data-wow-delay=".3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <img class="main-image" src="./assets/styles/about-image.png" alt="#">
                    <div class="img2"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Achievement Area -->
<section class="our-achievement section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="achievement-icon">
                        <i class="lni lni-thumbs-up"></i>
                    </div>
                    <h3 class="counter"><span id="secondo1" class="countup" cup-end="100">100 </span>%</h3>
                    <p>Satisfaction</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="achievement-icon">
                        <i class="lni lni-users"></i>
                    </div>
                    <h3 class="counter"><span id="secondo2" class="countup" cup-end="120">120 </span>K</h3>
                    <p>Happy Clients</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <div class="achievement-icon">
                        <i class="lni lni-investment"></i>
                    </div>
                    <h3 class="counter"><span id="secondo3" class="countup" cup-end="500">500 </span>k+</h3>
                    <p>Investments</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="single-achievement wow fadeInUp" data-wow-delay=".6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <div class="achievement-icon">
                        <i class="lni lni-cup"></i>
                    </div>
                    <h3 class="counter"><span id="secondo3" class="countup" cup-end="50">50 </span>+</h3>
                    <p>Winning Award</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Achievement Area -->

<!-- Start Portfolio Area-->
<section class="portfolio-section section">
    <div id="container" class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">Latest Cases</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Our Latest works
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">There are many
                        variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="portfolio-button-head">
                    <div class="portfolio-btn-wrapper wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <button class="portfolio-btn active" data-filter="*">All</button>
                        <button class="portfolio-btn" data-filter=".branding">Branding</button>
                        <button class="portfolio-btn" data-filter=".marketing">Marketing</button>
                        <button class="portfolio-btn" data-filter=".web">Web Design</button>
                        <button class="portfolio-btn" data-filter=".graphic">Graphic Design</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row grid" style="position: relative; height: 869.525px;">
            <div class="col-lg-4 col-md-6 grid-item marketing" style="position: absolute; left: 0px; top: 0px;">
                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img">
                        <a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio-details.html"><img
                                src="./assets/styles/pf1.png" alt="#"></a>
                    </div>
                    <div class="portfolio-overlay">
                        <div class="pf-content">
                            <span class="category">Graphic Design</span>
                            <h4><a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio-details.html">Aura
                                    Branding Design</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item graphic web" style="position: absolute; left: 439.987px; top: 0px;">
                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img">
                        <a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio-details.html"><img
                                src="./assets/styles/pf2.png" alt="#"></a>
                    </div>
                    <div class="portfolio-overlay">
                        <div class="pf-content">
                            <span class="category">Graphic Design</span>
                            <h4><a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio-details.html">Best
                                    Graphic Design in 2023</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item marketing branding"
                style="position: absolute; left: 879.974px; top: 0px;">
                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img">
                        <a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio-details.html"><img
                                src="./assets/styles/pf3.png" alt="#"></a>
                    </div>
                    <div class="portfolio-overlay">
                        <div class="pf-content">
                            <span class="category">Marketing</span>
                            <h4><a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio-details.html">Unique
                                    Marketing tips &amp; tricks</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item web graphic branding"
                style="position: absolute; left: 0px; top: 431.225px;">
                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img">
                        <a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio-details.html"><img
                                src="./assets/styles/pf4.png" alt="#"></a>
                    </div>
                    <div class="portfolio-overlay">
                        <div class="pf-content">
                            <span class="category">Web Design</span>
                            <h4><a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio-details.html">Best
                                    Web Design in 2023</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item branding graphic"
                style="position: absolute; left: 439.987px; top: 431.225px;">
                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img">
                        <a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio-details.html"><img
                                src="./assets/styles/pf5.png" alt="#"></a>
                    </div>
                    <div class="portfolio-overlay">
                        <div class="pf-content">
                            <span class="category">Branding</span>
                            <h4><a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio-details.html">Best
                                    Branding Solutions </a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item web marketing"
                style="position: absolute; left: 879.974px; top: 438.3px;">
                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img">
                        <a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio-details.html"><img
                                src="./assets/styles/pf6.png" alt="#"></a>
                    </div>
                    <div class="portfolio-overlay">
                        <div class="pf-content">
                            <span class="category">Web Design</span>
                            <h4><a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio-details.html">Best
                                    Web Design in 2023</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="button see-all">
                    <a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio.html" class="btn">See all
                        works</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio Area-->

<!-- Start Pricing Table Area -->
<section id="pricing" class="pricing-table section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">pricing</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Pricing Plan</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">There are many
                        variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <!-- Table Head -->
                    <div class="table-head">
                        <h4 class="title">Freelancer</h4>
                        <p>All the basics for starting a new business</p>
                        <div class="price">
                            <h2 class="amount">$24<span class="duration">/mo</span></h2>
                        </div>
                    </div>
                    <!-- End Table Head -->
                    <!-- Start Table Content -->
                    <div class="table-content">
                        <!-- Table List -->
                        <ul class="table-list">
                            <li><i class="lni lni-checkmark-circle"></i> Cras justo odio.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Dapibus ac facilisis in.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Morbi leo risus.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Potenti felis, in cras ligula.</li>
                        </ul>
                        <!-- End Table List -->
                        <div class="button">
                            <a href="javascript:void(0)" class="btn">Buy Freelancer</a>
                        </div>
                    </div>
                    <!-- End Table Content -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <!-- Table Head -->
                    <div class="table-head">
                        <h4 class="title">Startup</h4>
                        <p>All the basics for starting a new business</p>
                        <div class="price">
                            <h2 class="amount">$32<span class="duration">/mo</span></h2>
                        </div>
                    </div>
                    <!-- End Table Head -->
                    <!-- Start Table Content -->
                    <div class="table-content">
                        <!-- Table List -->
                        <ul class="table-list">
                            <li><i class="lni lni-checkmark-circle"></i> Cras justo odio.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Dapibus ac facilisis in.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Morbi leo risus.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Potenti felis, in cras ligula.</li>
                        </ul>
                        <!-- End Table List -->
                        <div class="button">
                            <a href="javascript:void(0)" class="btn">Buy Startup</a>
                        </div>
                    </div>
                    <!-- End Table Content -->
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".8s"
                    style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                    <!-- Table Head -->
                    <div class="table-head">
                        <h4 class="title">Enterprise</h4>
                        <p>All the basics for starting a new business</p>
                        <div class="price">
                            <h2 class="amount">$48<span class="duration">/mo</span></h2>
                        </div>
                    </div>
                    <!-- End Table Head -->
                    <!-- Start Table Content -->
                    <div class="table-content">
                        <!-- Table List -->
                        <ul class="table-list">
                            <li><i class="lni lni-checkmark-circle"></i> Cras justo odio.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Dapibus ac facilisis in.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Morbi leo risus.</li>
                            <li><i class="lni lni-checkmark-circle"></i> Potenti felis, in cras ligula.</li>
                        </ul>
                        <!-- End Table List -->
                        <div class="button">
                            <a href="javascript:void(0)" class="btn">Buy Enterprise</a>
                        </div>
                    </div>
                    <!-- End Table Content -->
                </div>
                <!-- End Single Table-->
            </div>
        </div>
    </div>
</section>
<!--/ End Pricing Table Area -->

<!-- Start Team -->
<section id="team" class="team section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">Team</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Meat our team</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">There are many
                        variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Team -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-team wow fadeInUp" data-wow-delay=".2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <!-- Image -->
                    <div class="image">
                        <img src="./assets/styles/team1.jpg" alt="#">
                        <!-- Social -->
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-behance-original"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                    <!-- End Image -->
                    <div class="info-head">
                        <!-- Info Box -->
                        <div class="info-box">
                            <h4 class="name"><a href="javascript:void(0)">Dahlia Moore</a></h4>
                            <span class="designation">Senior Manager</span>
                        </div>
                        <!-- End Info Box -->
                    </div>
                </div>
            </div>
            <!-- End Single Team -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-team wow fadeInUp" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <!-- Image -->
                    <div class="image">
                        <img src="./assets/styles/team2.jpg" alt="#">
                        <!-- Social -->
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-behance-original"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                    <!-- End Image -->
                    <div class="info-head">
                        <!-- Info Box -->
                        <div class="info-box">
                            <h4 class="name"><a href="javascript:void(0)">Jhone digo</a></h4>
                            <span class="designation">Markeitng</span>
                        </div>
                        <!-- End Info Box -->
                    </div>
                </div>
            </div>
            <!-- End Single Team -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-team wow fadeInUp" data-wow-delay=".6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <!-- Image -->
                    <div class="image">
                        <img src="./assets/styles/team3.jpg" alt="#">
                        <!-- Social -->
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-behance-original"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                    <!-- End Image -->
                    <div class="info-head">
                        <!-- Info Box -->
                        <div class="info-box">
                            <h4 class="name"><a href="javascript:void(0)">Zara tingo</a></h4>
                            <span class="designation">Web Developer</span>
                        </div>
                        <!-- End Info Box -->
                    </div>
                </div>
            </div>
            <!-- End Single Team -->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single-team wow fadeInUp" data-wow-delay=".8s"
                    style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                    <!-- Image -->
                    <div class="image">
                        <img src="./assets/styles/team4.jpg" alt="#">
                        <!-- Social -->
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-behance-original"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                    <!-- End Image -->
                    <div class="info-head">
                        <!-- Info Box -->
                        <div class="info-box">
                            <h4 class="name"><a href="javascript:void(0)">David Zone</a></h4>
                            <span class="designation">SEO Expert</span>
                        </div>
                        <!-- End Info Box -->
                    </div>
                </div>
            </div>
            <!-- End Single Team -->
        </div>
    </div>
</section>
<!--/ End Team Area -->

<!-- Start Testimonials Section -->
<section id="testimonials" class="section testimonials">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">Testimonials</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">What people says
                        about us</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">There are many
                        variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="slider-head">
            <div class="tns-outer" id="tns2-ow">
                <div class="tns-nav" aria-label="Carousel Pagination"><button type="button" data-nav="0"
                        aria-controls="tns2" style="" aria-label="Carousel Page 1 (Current Slide)"
                        class="tns-nav-active"></button><button type="button" data-nav="1" tabindex="-1"
                        aria-controls="tns2" style="" aria-label="Carousel Page 2"></button><button type="button"
                        data-nav="2" tabindex="-1" aria-controls="tns2" style="display: none;"
                        aria-label="Carousel Page 3"></button><button type="button" data-nav="3" tabindex="-1"
                        aria-controls="tns2" style="display:none" aria-label="Carousel Page 4"></button><button
                        type="button" data-nav="4" tabindex="-1" aria-controls="tns2" style="display:none"
                        aria-label="Carousel Page 5"></button><button type="button" data-nav="5" tabindex="-1"
                        aria-controls="tns2" style="display:none" aria-label="Carousel Page 6"></button></div>
                <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span
                        class="current">6 to 8</span> of 6</div>
                <div id="tns2-mw" class="tns-ovh">
                    <div class="tns-inner" id="tns2-iw">
                        <div class="row testimonial-slider  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
                            id="tns2" style="transition-duration: 0s; transform: translate3d(-31.25%, 0px, 0px);">
                            <div class="col-lg-4 col-md-6 col-12 tns-item tns-slide-cloned" aria-hidden="true"
                                tabindex="-1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi5.jpg" alt="#">
                                        <h3>
                                            Marleah Eagleston
                                            <span>Founder at Spicenet</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item tns-slide-cloned" aria-hidden="true"
                                tabindex="-1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi3.jpg" alt="#">
                                        <h3>
                                            Phet Putrie
                                            <span>Freelancer</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item tns-slide-cloned" aria-hidden="true"
                                tabindex="-1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi2.jpg" alt="#">
                                        <h3>
                                            Prescott MacCaffery
                                            <span>Writer</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item tns-slide-cloned" aria-hidden="true"
                                tabindex="-1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi4.jpg" alt="#">
                                        <h3>
                                            Lara Madrigal
                                            <span>Marketing Specialist</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item tns-slide-cloned" aria-hidden="true"
                                tabindex="-1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi3.jpg" alt="#">
                                        <h3>
                                            Waiapi Karaka
                                            <span>Designer, Freelancer</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item tns-slide-active" id="tns2-item0">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi2.jpg" alt="#">
                                        <h3>
                                            Aaron Almaraz
                                            <span>CEO &amp; Founder at Gearat</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item tns-slide-active" id="tns2-item1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi5.jpg" alt="#">
                                        <h3>
                                            Marleah Eagleston
                                            <span>Founder at Spicenet</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item tns-slide-active" id="tns2-item2">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi3.jpg" alt="#">
                                        <h3>
                                            Phet Putrie
                                            <span>Freelancer</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item" id="tns2-item3" aria-hidden="true"
                                tabindex="-1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi2.jpg" alt="#">
                                        <h3>
                                            Prescott MacCaffery
                                            <span>Writer</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item" id="tns2-item4" aria-hidden="true"
                                tabindex="-1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi4.jpg" alt="#">
                                        <h3>
                                            Lara Madrigal
                                            <span>Marketing Specialist</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item" id="tns2-item5" aria-hidden="true"
                                tabindex="-1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi3.jpg" alt="#">
                                        <h3>
                                            Waiapi Karaka
                                            <span>Designer, Freelancer</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item tns-slide-cloned" aria-hidden="true"
                                tabindex="-1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi2.jpg" alt="#">
                                        <h3>
                                            Aaron Almaraz
                                            <span>CEO &amp; Founder at Gearat</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item tns-slide-cloned" aria-hidden="true"
                                tabindex="-1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi5.jpg" alt="#">
                                        <h3>
                                            Marleah Eagleston
                                            <span>Founder at Spicenet</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item tns-slide-cloned" aria-hidden="true"
                                tabindex="-1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi3.jpg" alt="#">
                                        <h3>
                                            Phet Putrie
                                            <span>Freelancer</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item tns-slide-cloned" aria-hidden="true"
                                tabindex="-1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi2.jpg" alt="#">
                                        <h3>
                                            Prescott MacCaffery
                                            <span>Writer</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12 tns-item tns-slide-cloned" aria-hidden="true"
                                tabindex="-1">
                                <!-- Start Single Testimonial -->
                                <div class="single-testimonial">
                                    <div class="top-section">
                                        <img src="./assets/styles/testi4.jpg" alt="#">
                                        <h3>
                                            Lara Madrigal
                                            <span>Marketing Specialist</span>
                                        </h3>
                                        <ul class="rating">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                    </div>
                                    <p>Time is the most precious thing you have when bootstrapping. You can't take time
                                        to
                                        ponder on
                                        design…</p>
                                </div>
                                <!-- End Single Testimonial -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /End Testimonials Section -->

<!-- Start Newsletter Area -->
<section class="section newsletter">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="content">
                    <h5>Join our community</h5>
                    <h3>Subscribe our Newsletter to get regular updates</h3>
                    <form action="https://rainloops.com/Themeforest/Template/Gomeet/index.html#" method="get" target=""
                        class="newsletter-form">
                        <input name="email" type="email" placeholder="Your email address">
                        <div class="button">
                            <button type="button" class="btn">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="image">
                    <img src="./assets/styles/newsletter-img.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Newsletter Area -->

<!-- Start Blog Section Area -->
<section id="blog" class="blog-section section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">Blogs</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Our Latest News
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">There are many
                        variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Blog -->
                <div class="single-blog wow fadeInUp" data-wow-delay=".2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="blog-img">
                        <a href="https://rainloops.com/Themeforest/Template/Gomeet/blog-single-sidebar.html"><img
                                class="thumb" src="./assets/styles/blog-grid1.jpg" alt="#"></a>
                    </div>
                    <div class="blog-content">
                        <span class="date">Mar 12, 2023</span>
                        <h4 class="title"><a
                                href="https://rainloops.com/Themeforest/Template/Gomeet/blog-single-sidebar.html">Bring
                                to the table win-win survival
                                strategies.</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the standard.</p>
                        <div class="meta-details">
                            <a href="javascript:void(0)"><img src="./assets/styles/comment1.jpg" alt="#">
                                <span>By Jonson
                                    deco</span></a>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Blog -->
                <div class="single-blog wow fadeInUp" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="blog-img">
                        <a href="https://rainloops.com/Themeforest/Template/Gomeet/blog-single-sidebar.html"><img
                                class="thumb" src="./assets/styles/blog-grid2.jpg" alt="#"></a>
                    </div>
                    <div class="blog-content">
                        <span class="date">Feb 25, 2023</span>
                        <h4 class="title"><a
                                href="https://rainloops.com/Themeforest/Template/Gomeet/blog-single-sidebar.html">How To
                                Blow Through Capital At An
                                Incredible Rate.</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the standard.</p>
                        <div class="meta-details">
                            <a href="javascript:void(0)"><img src="./assets/styles/comment2.jpg" alt="#">
                                <span>By Jonson
                                    deco</span></a>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Blog -->
                <div class="single-blog wow fadeInUp" data-wow-delay=".6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <div class="blog-img">
                        <a href="https://rainloops.com/Themeforest/Template/Gomeet/blog-single-sidebar.html"><img
                                class="thumb" src="./assets/styles/blog-grid3.jpg" alt="#"></a>
                    </div>
                    <div class="blog-content">
                        <span class="date">Jan 12, 2023</span>
                        <h4 class="title"><a
                                href="https://rainloops.com/Themeforest/Template/Gomeet/blog-single-sidebar.html">Bring
                                to the table win-win survival
                                strategies.</a></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the standard.</p>
                        <div class="meta-details">
                            <a href="javascript:void(0)"><img src="./assets/styles/comment3.jpg" alt="#">
                                <span>By Jonson
                                    deco</span></a>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
        </div>
    </div>
</section>
<!-- End Blog Section Area -->

<!-- Start Call Action Area -->
<section class="call-action">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <div class="text">
                    <h2>Ready to dive in?<span>Start your free trial today.</span>
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="button">
                    <a href="javascript:void(0)" class="btn">Get started
                    </a>
                    <a href="javascript:void(0)" class="btn btn-alt">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Call Action Area -->