<header class="header navbar-area sticky">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="nav-inner">
                    <!-- Start Navbar -->
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand style3" href="https://rainloops.com/Themeforest/Template/Gomeet/index.html">
                            <img src="./assets/logo2.png" alt="Logo" style="width: 60px;">
                        </a>
                        <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class=" dd-menu collapsed " href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#submenu-1-0" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">{{ "home" | translate }}</a>
                                    <ul class="sub-menu collapse" id="submenu-1-0">
                                        <li class="nav-item active"><a href="https://rainloops.com/Themeforest/Template/Gomeet/index.html">{{ "home" | translate }}1</a>
                                        </li>
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/index2.html">{{ "home" | translate }}2</a></li>
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/index3.html">{{ "home" | translate }}3</a></li>
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/index4.html">{{ "home" | translate }}4</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class=" dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#submenu-1-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">{{ "Services" | translate }}</a>
                                    <ul class="sub-menu collapse" id="submenu-1-1">
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/services.html">{{ "Services" | translate }}</a>
                                        </li>
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/service-details.html">{{ "ServiceDetails" | translate }}</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class=" dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#submenu-1-2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">{{ "Portfolio" | translate }}</a>
                                    <ul class="sub-menu collapse" id="submenu-1-2">
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio.html">{{ "Portfolio" | translate }}</a>
                                        </li>
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/portfolio-details.html">Portfolio Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class=" dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#submenu-1-3" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">{{ "Pages" | translate }}</a>
                                    <ul class="sub-menu collapse" id="submenu-1-3">
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/about.html">About Us</a>
                                        </li>
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/pricing.html">Pricing</a></li>
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/faq.html">Faq</a></li>
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/login.html">Login</a></li>
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/registration.html">Registration</a></li>
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/404.html">404 Error</a></li>
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/mail-success.html">Mail Success</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class=" dd-menu collapsed" href="https://rainloops.com/Themeforest/Template/Gomeet/index.html#blog" data-bs-toggle="collapse" data-bs-target="#submenu-1-4" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Blog</a>
                                    <ul class="sub-menu collapse" id="submenu-1-4">
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/blog-grid-sidebar.html">Blog Grid Sidebar</a>
                                        </li>
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/blog-single.html">Blog Single</a></li>
                                        <li class="nav-item"><a href="https://rainloops.com/Themeforest/Template/Gomeet/blog-single-sidebar.html">Blog Single
                                                Sibebar</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="https://rainloops.com/Themeforest/Template/Gomeet/contact.html" aria-label="Toggle navigation">Contact</a>
                                </li>
                                <li>
                                    <!-- <select class="language-select" (change)="setLanguage($event)">
                                        <option *ngFor="let lan of languages">{{ lan }}</option>
                                     </select>  -->
                                     <!-- {{ "welcome" | translate }} -->
                                </li>
                            </ul>
                        </div> <!-- navbar collapse -->
                        <div class="button add-list-button">
                            <select class="language-select" (change)="setLanguage($event)" [(ngModel)] = "lang">
                                <option *ngFor="let lan of languages">{{ lan }}</option>
                             </select> 
                            <!-- <a href="https://rainloops.com/Themeforest/Template/Gomeet/contact.html" class="btn">Get started free</a> -->
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</header>