.language-select{
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 30px;
    background-color: #057eb7;
    color: #fff;
    border: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    margin-right: 7px;
    overflow: hidden;
}