<nav class="circular-menu">

    <div class="circle" style="font-size: 50px;">
        <a href=""><i class="fas fa-home"></i></a>
        <a href=""><i class="fab fa-facebook-square"></i></a>
        <a href=""><i class="fab fa-github-square"></i></a>
        <a href=""></a>
        <a href=""></a>
        <!-- <a href="" ></a> -->
        <a href=""><i class="fab fa-twitter-square"></i></a>
        <a href=""><i class="fab fa-linkedin"></i></a>
        <!-- <a href=""><i class="fab fa-github-square"></i></a> -->
        <!-- <a href="" ><i class="fas fa-rss-square"></i></a>
      <a href="" ><i class="fab fa-pinterest-square"></i></a>
      <a href="" ><i class="fas fa-asterisk"></i></a> -->
    </div>

    <a href="" class="menu-button">
        <i *ngIf = "typeService == '1'" class="fas fa-graduation-cap" (click)="closeModal()"></i>
        <i *ngIf = "typeService == '2'" class="fas fa-photo-video" (click)="closeModal()"></i>
        <i *ngIf = "typeService == '3'" class="fas fa-laptop-code" (click)="closeModal()"></i>
        <i *ngIf = "typeService == '4'" class="fas fa-users" (click)="closeModal()"></i>
    </a>

</nav>