.circular-menu {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  .circle {
    width: 100%;
    height: 100%;
    opacity: 0;
    
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  
  .open.circle {
    opacity: 1;
  
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
  
  .circle a {
    text-decoration: none;
    color: #ffff;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
  
  }
  
  .circle a:hover {
    color: #eef;
  }
  
  .menu-button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    text-decoration: none;
    text-align: center;
    color: #444;
    border-radius: 50%;
    display: block;
    height: 70px;
    width: 70px;
    line-height: 40px;
    margin-left: 12px;
    // background: #dde;
    color: #fff;
    font-size: 60px;
  }
  
  .menu-button:hover {
    // background-color: #eef;
  }
  
  /* Author stuff */
  h1.author {
    text-align:center;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
  }
  
  h1.author a {
    color: #348;
    text-decoration:none;
  }
  
  h1.author a:hover {
    color: #ddd;
  } 
  
  
 