/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");

.modal-content-custom .modal-content{
    background:none !important;
    border: 0px !important;
    color: white !important;
}